---
import ProjectCard from "../components/ProjectCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import JobItem from "../components/JobItem";
import {DiCoda,DiCodeBadge} from "react-icons/di/index.js"
import WrittingText from "../components/WrittingText";
import { Image } from "astro:assets";


let posts = await Astro.glob("../pages/blog/*.md");
let projects = await Astro.glob("../pages/projects/*.md");
let jobs = [
  {
    position: "Backend Software Engineer",
    company: "YAPE - BCP",
    description:
      "",
    period: "08/2023-Actualmente",
  },
  {
    position: "Cloud Developer",
    company: "FOCO ESTRATÉGICO S.A.C.",
    description:
      "Mantenimiento del sistema principal, desarrollo de APIs, microservicios, NodeJS, Python",
    period: "15/03/2021-07/2023",
  },
  {
    position: "Analista Programador",
    company: "BEAGLE COURIER S.A.C.",
    description:
      "Mantenimiento del sistema de operaciones, administración de bases de datos MySQL,PHP, Flutter",
    period: "01/06/2020-13/03/2021",
  },
  {
    position: "Programador Junior",
    company: "BEAGLE COURIER S.A.C.",
    description:
      "Creación de reportería con PHP, HTML y Javascript de las operaciónes de la empresa",
    period: "10/06/2019-31/05/2020",
  },
];

let skills = [
  { name: "NodeJS" },
  { name: "NestJS" },
  { name: "Python" },
  { name: "Linux" },
  { name: "HTML5" },
  { name: "Linux" },
  { name: "APIs REST" },
  { name: "BigQuery" },
  { name: "Mongo" },
  { name: "Postgres" },
  { name: "RabbitMQ" },
  { name: "Git & Github" },
];
---

<MainLayout>
  <section class="w-full lg:pt-20 md:pt-20 md:flex md:items-center mb-16">
    <!-- <img src="/profile.jpeg" class="shadow md:w-64 rounded-3xl" /> -->
    <Image src="/profile.jpeg"
    width={100}
    height={100}
     alt="profile image" class="shadow w-fit md:w-64 rounded-3xl"></Image>
    <div class="h-fit md:pl-4">
      <h1 class="text-3xl my-4 text-center md:text-left">
        <WrittingText text="Hola, mi nombre es Beimer" client:only="react"/>
      </h1>
      <p class="md:mt-5 text-gray-500 dark:text-gray-400 text-justify">
        Soy PROGRAMADOR BACKEND, actualmente trabajo con los lenguajes de NodeJS
        y Python, tengo experiencia en procesamiento de datos tipo batch,
        desarrollo de APIs REST y administración de bases de datos SQL y noSQL
        ,soy alguien a quien le gusta aprender y compartir lo aprendido, uno de
        los temas que me interesa mucho es el Machine Learnig y estoy
        aprendiendo cosas al respecto, si tienes una empresa puedo ayudarte con
        mis servicios y si eres programador podemos compartir retos juntos.
      </p>
      <div class="mt-4 flex justify-around md:justify-between lg:justify-end">
        <button
          class="bg-purple-300/70 hover:bg-purple-300 text-purple-900 border border-purple-300 rounded-md py-1 px-3"
          >Contactar</button
        >
        <a
          target="_blank"
          class="bg-green-300/70 hover:bg-green-300 hover:text-green-900 border border-green-300 rounded-md px-3 py-1 ml-2"
          href="/CV.pdf">Download CV</a
        >
      </div>
    </div>
  </section>
  <h2 class="text-xl mt-4 text-center">Profesional Skills</h2>
  <section class="mb-16">
    <div>
      <div class="grid sm:grid-cols-6 grid-cols-3 gap-3 place-items-center">
        {
          skills.map((skill) => (
            <div class="bg-gray-50/10 border border-gray-500 dark:text-gray-300  rounded-xl px-3 py-1 w-fit">
              {skill.name}
            </div>
          ))
        }
      </div>
    </div>
  </section>
  

  <h2 class="text-xl text-center">Algunos de mis Proyectos</h2>
  <section class="mb-16">
    <div class="flex flex-wrap">
    <!-- <div class="grid md:grid-cols-2 gap-4"> -->
      {
        projects.map((a, b) => (
          <a
            href={a.url}
            class="shadow-lg rounded-lg transition ease-in-out delay-150 w-full"
          >
            <div
              class="h-52 text-6xl bg-gray-400/[.5] rounded-t-lg bg-no-repeat bg-center bg-cover flex justify-center items-center"
              style={`background-image: url('${a.frontmatter.heroImage}')`}>
                {!a.frontmatter.heroImage?<DiCoda/>:''}
              </div>
            <div class="text-center p-4">
              <h3 class="mb-2 text-bold text-lg">{a.frontmatter.title}</h3>
              <p class="text-gray-500 dark:text-gray-400">
                {a.frontmatter.description ??
                  "This project does not have a description"}
              </p>
            </div>
          </a>
        ))
      }
    </div>
    <center>
      <!-- <button
        class="bg-cyan-600 dark:bg-cyan-400 py-2 px-4 my-4 rounded text-cyan-900 shadow-md"
        >My porfolio</button
      > -->
    </center>
  </section>

  <h2 class="text-xl my-2 text-center">Posts</h2>
  <section class="mb-16">
    <div class="grid md:grid-cols-2 gap-4">
      {
        posts.map((a, b) => (
          <a
            href={a.url}
            class="shadow-lg rounded-lg"
          >
            <div
              class="h-60 text-6xl flex items-center justify-center bg-gray-400/[.5] rounded-t-lg bg-no-repeat bg-center bg-cover"
              style={`background-image: url('${a.frontmatter.heroImage}')`}>
                 {!a.frontmatter.heroImage?<DiCodeBadge/>:''}
              </div>
            <div class="text-center p-4">
              <h3 class="mb-2 text-bold text-lg">{a.frontmatter.title}</h3>
              <p class="text-gray-500 dark:text-gray-400">
                {a.frontmatter.description ??
                  "This post does not have a description"}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>

  <section>
    <h2 class="text-xl my-2 text-center">Experiencia Laboral</h2>
    <div>
      {
        jobs.map((job) => (
          <JobItem
            jobTitle={job.position}
            period={job.period}
            company={job.company}
            description={job.description}
          />
        ))
      }
    </div>
  </section>

  <section class="mt-5">
    <!-- <h2 class="text-xl">Diplomas & Cursos</h2> -->
  </section>
</MainLayout>
